/* #121212
#28A745
#A4D18B
#EAEAEA
*/
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
}

.highlight {
  color: #28a745;
  font-weight: bold;
}

body {
  background-color: #282828;
}

/* ----------------------HEADER------------------------------- */
header {
  height: 70px;
  background: rgba(77, 77, 77, 0.2);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  padding: 0 20px;
  justify-content: space-around;
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: 10px;
}

.name-company {
  color: #28a745;
  font-size: 28px;
  font-weight: bold;
  padding-bottom: 10px;
  text-decoration: none;
}

.menu-options {
  color: #eaeaea;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.menu-options a {
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: #eaeaea;
  padding-bottom: 10px;
  font-weight: bold;
}

.menu-options a:hover {
  cursor: pointer;
  color: #a4d18b;
  text-shadow: 2px 2px 5px #28a745;
  transform: scale(1.1);
}


.painel {
  border: 1px solid red;
  margin-top: 90px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  color: #eaeaea;
  font-size: 42px;
  width: 50%;
}

.dashboard-painel {
  border: 3px solid #656565;
  height: 300px;
  border-radius: 10px;
  padding: 5px;
}

.explain {
  border: 1px solid green;
  width: 50%;
}

.dashboard-painel {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  margin-top: 20px;
}

.grid-item {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 16px;
  color: #333;
}

@media (max-width: 768px) {
  .dashboard-painel {
    grid-template-columns: 1fr;
  }
}